<link rel="stylesheet" href="styles.css">
<form method="POST" action="/new">
    <div>Add a message to the board!</div>
    <div class="input">
        <label for="username-input">Username: </label>
        <input id="username-input" name="username">
    </div>
    <div class="message-block">
        <label for="message-input" class="message-label">Message:</label>
        <textarea id="message-input" name="message"></textarea>
    </div>
    <button>Submit!</button>
</form>