body {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 80%;
}

form * {
    padding: 24px;
}

input {
    max-height: 20px;
    border-radius:12px;
}

button {
    background-color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    color: rgb(30, 30, 30);
    border-radius: 16px;
    transition: background-color 2s;
}

button:hover {
    background-color: rgb(201, 230, 255);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: all 1s;
}

.message:hover {
    background-color: rgb(255, 255, 180);
}

.message-text {
    font-size: 32px;
}

.message * {
    padding: 5px;
}

.message-container {
    display: flex;
    flex-wrap: wrap;
}