body {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 9, 132);
    text-align: center;
    font-size: 32px;
}

a:hover {
    color: rgb(0, 6, 87)
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 80%;
}

form * {
    padding: 24px;
}

button {
    background-color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    color: rgb(30, 30, 30);
    border-radius: 16px;
    transition: background-color 2s;
}

button:hover {
    background-color: rgb(201, 230, 255);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: all 1s;
}

.message-block {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: 80%;
}

.message-label {
    text-align: center;
}

#username-input {
    max-height: 20px;
    border-radius:12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

#message-input {
    height: 200px;
    min-width: 300px;
    align-self: stretch;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message:hover {
    background-color: rgb(255, 255, 180);
}

.message-text {
    font-size: 32px;
}

.message * {
    padding: 5px;
}

.message-container {
    display: flex;
    flex-wrap: wrap;
}